
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
	--title-size: 50px;
	--body-size: 1.06rem;
	--code-size: 14px;
	--aside-size: 12px;
	--fig-cap-size: 13px;
	--title-color: #3D5A80;
	--header-color: #3D5A80;
	--body-color: rgba(0,0,0,0.8);
	--aside-color: rgba(0,0,0,0.8);
	--fig-cap-color: rgba(0,0,0,0.5);
  --heading-font: "Kiwi Maru", serif;
  --mono-font: "Fira Code", monospace;
  --body-font: "Roboto", sans-serif;
  --navbar-font: "Roboto", sans-serif;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       1.06rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #293241;
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #293241;
}

/* stuff for the social landing page */
 .center {
	 display: table;
   float:none;
	 width: 100%;
}
 #social-test {
	 display: table-cell;
	 vertical-align: middle;
	 text-align: center;
	 font-size: 30px;
}
 #social-test .social {
	 padding-left: 0px;
}
 #social-test li {
	 display: inline-block;
}
 #social-test li a {
	 color: #EE6C4D;
	 border-radius: 6px;
	 list-style-type: none;
	 display: inline-block;
	 width: 100px;
	 height: 100px;
	 line-height: 100px;
   opacity: 0.7;
	 padding: 1%;
	 border: 1px solid #EE6C4D;
	 cursor: pointer;
	 margin-left: 10px;
	 margin-bottom: 20px;
	 transition: ease .3s;
}
 #social-test li a:hover {
	 color: #EE6C4D;
	 border: 1px solid #EE6C4D;
}
 .social:hover > li {
	 opacity: 0.5;
}
 .social:hover > li:hover {
	 opacity: 1;
}
 